canvas {
    width: 100%;
    height: 100%
}

.w34rem { width: 34rem }
.w38rem { width: 38rem }

.mw-80vw { max-width: 80vw }
.mh-80vw { max-height: 80vw }
.w6 { width: 32rem }
.h6 { height: 32rem }

@media screen and (min-width: 30em) {
    .w34rem-ns { width: 34rem }
    .w38rem-ns { width: 38rem }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .w34rem-m { width: 34rem }
    .w38rem-m { width: 38rem }
}

@media screen and (min-width: 60em) {
    .w38rem-l { width: 34rem }
    .w38rem-l { width: 38rem }
}