<html>

<head>
	<title>Rob Murtagh</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="assets/favicon.png">
	<style>{{htmlWebpackPlugin.options.VARIABLE_CSS}}</style>
</head>

<body class="ba0 bg-white min-vh-100 min-vw-100">
	<div id="terminal" class="courier tc pt3 pl1 pr1 h4 pb2">
		<div id="typed-strings" class="dn">
			<p></p>
			<p>Hi, I'm Rob</p>
			<p>Thanks for visiting</p>
			<p>
				I keep some useful notes <a href="https://wiki.robmurtagh.com">on my wiki</a><br/><br/>
				...and you can find me on <a href="https://github.com/robmurtagh">Github</a> or <a href="https://twitter.com/rob_murtagh">Twitter</a>
			</p>
		</div>
	</div>
	<div id="graphic" class="w6 h6 mw-80vw mh-80vw bg-blue center">

	</div>
</body>

</html>