<html>

<head>
	<title>Rob Murtagh</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="assets/favicon.png">
	<style>{{htmlWebpackPlugin.options.VARIABLE_CSS}}</style>
</head>

<body class="bg-white vh-100-hack vw-100 courier flex flex-column justify-center">
	<div id="content">
		<div class="w-100 tc h4 pb2 pl2 pr2 flex flex-column justify-end">
			<div id="terminal">
			<div id="typed-strings" class="dn">
				<p></p>
				<p>Hi, I'm Rob</p>
				<p>Thanks for visiting</p>
				<p>
					I keep some useful notes <a href="https://wiki.robmurtagh.com">on my wiki</a><br/><br/>
					and you can find me on <a href="https://github.com/robmurtagh">Github</a> or <a href="https://twitter.com/rjmurtagh">Twitter</a>
				</p>
			</div>
			</div>
		</div>
		<div id="graphic" class="w6 h6 mw-80vw mh-80vw center mb4"></div>
	</div>
</body>

</html>